<div class="cards">
  <div class="card content">
    <div class="card-content">
      <div class="card-img"><a  href="/chat" >
        <img src="https://th.bing.com/th/id/R.31c7dfc9ab893f3de110a77d5b89c490?rik=jxTLF32hkvO0Lw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f6%2fd%2fd%2f1044527-best-electro-house-music-wallpaper-2560x1600.jpg&ehk=1BcK6o3ccoAH6oE08EZHqwjARbZ4ZaUiLFSydhtonr8%3d&risl=&pid=ImgRaw&r=0" alt="Gamer">
      </a>
      </div>

      <div class="card-label"> <span style="color: #f0f3f4"> L E G A C Y</span></div>
      <div class="card-title" style="margin-left: 290px; margin-bottom: 40px; font-size: 40px">
        CHAT
      </div>
    </div>
  </div>
  <div class="card content">
    <div class="card-content">
      <div class="card-img"><a href="/contacto">
        <img src="http://wallpapers.net/web/wallpapers/people-watching-the-moon-from-space-hd-wallpaper/5120x2160.jpg" alt="keyboard">
      </a>
      </div>
      <div class="card-label">Contactos</div>
      <div class="card-title">
        Añade a nuevas personas que conozcas
      </div>
    </div>
  </div>
  <div class="card content">
    <div class="card-content">
      <div class="card-img"> <a href="/login">
        <img src="https://wallpapercave.com/wp/wp9358224.jpg" alt="Controller">
      </a>
      </div>
      <div class="card-label">LOGIN</div>
      <div class="card-title">
        Habla con tus amigos en segundos
      </div>
    </div>
  </div>
  <div  class="card form">
    <a href="crearCuenta"><div class="form-title" >Sign Up</div></a>
  </div>



</div>
